<!DOCTYPE html>
<html lang="en">
<head>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <!--Import materialize.css-->
    <link type="text/css" rel="stylesheet" href="{{ url_for('static', filename='css/materialize.min.css') }}"
          media="screen,projection"/>
    <link type="text/css" rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}"
          media="screen,projection"/>
    <!--Let browser know website is optimized for mobile-->
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script type="text/javascript" src="{{url_for('static', filename='js/materialize.min.js') }}"></script>
    <meta charset="UTF-8">
    <title>Clustering</title>
</head>
<body>
<header>
    <nav class="teal darken-2">
            <!--<nav class="red lighten-2">-->
        <div class="nav-wrapper">
            <a href="/home" class="brand-logo" style="margin-left:20px">Silvana Albert</a>
             <ul id="nav-mobile" class="right hide-on-med-and-down">
                <li><a href="/home">Home</a></li>
                <li><a href="/proteins">Protein Analysis Application</a></li>
                <li><a href="/publications">Publications</a></li>
                <li><a href="/resume">Resume</a></li>
            </ul>
        </div>
    </nav>
</header>

<main>
    <div class="container">
        <div class="row" style="margin-top:20px">
            <div class="col s5" style="min-width:400px">
                <div data-style="" class="wp3img" id="WPht4img"
                     style="width: 385px; height: 380px;margin-top:100px;">
                    <img id="WPht4imgimage" alt="" data-type="image"
                         src="{{ profile_image }}"
                         style="width: 385px; height: 380px; object-fit: cover;"></div>
            </div>
            <div class="col s7">
                <div class="flow-text">
                    <h3 style="margin-left: -10px"><span style="font-weight:bold;">A little bit about me:</span></h3>
                </div>
                <div class="row" style="margin-top:20px">
                    <p class="flow-text">I am a computer science professional with a recently found interest in
                        research. My field of analysis is machine learning and its applicability in the vast domain of
                        genetics and proteomics.
                    </p>
                    <p class="flow-text">
                        Currently I'm in a transitioning period from the industry to the academic environment. I spend
                        most of my time
                        exploring various subjects such as: bioinformatics, genetics, protein science and
                        supervised/unsupervised learning.
                    </p>
                    <!--<p class="flow-text">-->
                        <!--You can find a tool designed for protein analysis in the <a href="/proteins">Protein Analysis section.</a>-->
                    <!--</p>-->
                </div>
            </div>
        </div>
    </div>
</main>

<!--<footer class="page-footer red lighten-3">-->
<footer class="page-footer teal">
    <div class="row">
        <div class="col s4" style="min-width:200px">
            <i style="display:inline;vertical-align: bottom;" class="small material-icons">call</i>
            <p style="display:inline">+040743693658</p>
        </div>
        <div class="col s4" style="min-width:200px"><i style="display:inline;vertical-align: bottom;" class="small material-icons">mail</i>
            <p style="display:inline" href="albert.silvana@cs.ubbcluj.ro">albert.silvana@cs.ubbcluj.ro</p>
        </div>
        <div class="col s4" style="min-width:200px"><p>© 2018 by Silvana Albert</p></div>
    </div>
</footer>
</body>

</html>