<!DOCTYPE html>
<html lang="en">
<head>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <!--Import materialize.css-->
    <link type="text/css" rel="stylesheet" href="{{ url_for('static', filename='css/materialize.min.css') }}"
          media="screen,projection"/>
    <link type="text/css" rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}"
          media="screen,projection"/>
    <!--Let browser know website is optimized for mobile-->
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script type="text/javascript" src="{{url_for('static', filename='js/materialize.min.js') }}"></script>
    <meta charset="UTF-8">
    <title>Clustering</title>
</head>
<body>
<header>
    <nav class="teal darken-2">
        <!--<nav class="red lighten-2">-->
        <div class="nav-wrapper">
            <a href="/proteins" class="brand-logo" style="margin-left:20px">Protein Analysis</a>
            <ul id="nav-mobile" class="right hide-on-med-and-down">
                <li><a href="/home">Home</a></li>
                <li><a href="/proteins">Protein Analyses Application</a></li>
                <li><a href="/publications">Publications</a></li>
                <li><a href="/resume">Resume</a></li>
            </ul>
        </div>
    </nav>
</header>
<main>
    <div class="container">
        <div class="row" style="margin-top:20px">
            <form class="form-inline" method="POST" action="{{ url_for('testproteins') }}">
                <div class="form-group">
                    <div class="col s3">
                        <div class="input-group">
                            <span class="input-group-addon">Choose protein</span>
                            <select name="protein_select" class="selectpicker form-control">
                                {% for o in proteins %}
                                <option value="{{ o.name }}">{{ o.name }}</option>
                                {% endfor %}
                            </select>
                        </div>
                    </div>
                    <div class="col s3">
                        <div class="input-group">
                            <span class="input-group-addon">Choose algorithm</span>
                            <select name="alg_select" class="selectpicker form-control">
                                {% for o in method %}
                                <option value="{{ o.name }}">{{ o.name }}</option>
                                {% endfor %}
                            </select>
                        </div>
                    </div>
                    <div class="col s3">
                        <div class="input-group">
                            <span class="input-group-addon">Choose step</span>
                            <select name="comp_select" class="selectpicker form-control">
                                {% for o in data %}
                                <option value="{{ o.name }}">{{ o.name }}</option>
                                {% endfor %}
                            </select>
                        </div>
                    </div>
                    <div class="col s3">
                        <button type="submit" class="btn btn-default" style="margin-top:20px"><i
                                class="material-icons right">check</i>Submit Analysis
                        </button>
                    </div>
                </div>
            </form>
        </div>
        <div class="row" style="margin-top:20px">
            <div class="col s2"></div>
            <div class="col s8">
                <img class="materialboxed center" width="650" src="{{ user_image }}"
                     alt="You need to click view analysis first">
            </div>
        </div>
        {% if filename %}
        <div class="row">
            <h6 class="center-align">Displaying {{ protein }}, {{ alg }} and step: {{ cluster_no
                }}
            </h6>
        </div>

        <div class="row ">
            <form class="form-inline center-align" method="POST" action="{{ url_for('files') }}">
                <input name="filename" style="display:none" value="{{ filename }}">
                <button type="submit" class="btn btn-default center-align" style="margin-top:20px"><i
                        class="material-icons right">file_download</i>Download
                    image
                </button>
            </form>
        </div>
        {% endif %}

        <script type="text/javascript">
                $(document).ready(function(){
                    $('select').formSelect();
                    $('.materialboxed').materialbox();
              });
        </script>

        <div class="row">
            <h5><i style="display:inline;vertical-align: bottom;"
                   class="small material-icons">help</i>Parameters explained</h5>
        </div>
        <div class="row">
            <div class="col s4">
                <h5>The used proteins are:</h5>
                <ul class="collection">
                    <li class="collection-item"><span style="font-weight:bold">1GO1</span> - classified as a Ribosomal
                        Protein
                    </li>
                    <li class="collection-item"><span style="font-weight:bold">1JT8</span> - translation initiation
                        factor classified in the
                        Translation category
                    </li>
                    <li class="collection-item"><span style="font-weight:bold">1L3P</span> - pollen allergen classified
                        as Allergen
                    </li>
                    <li class="collection-item"><span style="font-weight:bold">1P1L</span> - Periplasmic divalent cation
                        tolerance protein
                    </li>
                </ul>
            </div>
            <div class="col s4">
                <h5>Types of algorithms:</h5>
                <ul class="collection">
                    <li class="collection-item"><span style="font-weight:bold">K-means algorithm</span> - parameterized
                        by the value k, which is
                        the number of clusters that you want to create
                    </li>
                    <li class="collection-item"><span
                            style="font-weight:bold">Agglomerative hierarchical clustering</span> - builds clusters
                        incrementally; At each step, the two clusters that are the most similar are merged;
                    </li>
                    <li class="collection-item"><span style="font-weight:bold">Mini Batch K-means</span> - reduces the
                        computational cost by not
                        using all the dataset; each iteration but a subsample of a fixed size
                    </li>
                </ul>
            </div>
            <div class="col s4">
                <h5>Steps:</h5>
                <p style="font-size:10px;">Having 10000 successive conformations represented by RSA vectors we group
                    them in classes by using a
                    hyperparameter named step(s) representing the cardinality of each class.

                    For example, a step = 2500 would mean that we are expecting K=4 classes, namely:</p>
                <ul class="collection">
                    <li class="collection-item"><span style="font-weight:bold">Class 1 </span>- conformations from 1 to
                        2500;
                    </li>
                    <li class="collection-item"><span style="font-weight:bold">Class 2 </span>- conformations from 2501
                        to 5000;
                    </li>
                    <li class="collection-item"><span style="font-weight:bold">Class 3 </span>- conformations from 5001
                        to 7500;
                    </li>
                    <li class="collection-item"><span style="font-weight:bold">Class 4 </span>- conformations from 7501
                        to 10000.
                    </li>
                </ul>
            </div>
        </div>
    </div>
</main>
<footer class="page-footer teal">
    <div class="row">
        <div class="col s4">
            <i style="display:inline;vertical-align: bottom;" class="small material-icons">call</i>
            <p style="display:inline">+040743693658</p>
        </div>
        <div class="col s4"><i style="display:inline;vertical-align: bottom;" class="small material-icons">mail</i>
            <p style="display:inline" href="albert.silvana@cs.ubbcluj.ro">albert.silvana@cs.ubbcluj.ro</p>
        </div>
        <div class="col s4"><p>© 2018 by Silvana Albert</p></div>
    </div>
</footer>
</body>
</html>