<!DOCTYPE html>
<html lang="en">
<head>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <!--Import materialize.css-->
    <link type="text/css" rel="stylesheet" href="{{ url_for('static', filename='css/materialize.min.css') }}"
          media="screen,projection"/>
    <link type="text/css" rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}"
          media="screen,projection"/>
    <!--Let browser know website is optimized for mobile-->
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script type="text/javascript" src="{{url_for('static', filename='js/materialize.min.js') }}"></script>
    <meta charset="UTF-8">
    <title>Clustering</title>
</head>
<body>
<header>
    <nav class="teal darken-2">
        <!--<nav class="red lighten-2">-->
        <div class="nav-wrapper">
            <a href="/home" class="brand-logo" style="margin-left:20px">Silvana Albert</a>
            <ul id="nav-mobile" class="right hide-on-med-and-down">
                <li><a href="/home">Home</a></li>
                <li><a href="/proteins">Protein Analyses Application</a></li>
                <li><a href="/publications">Publications</a></li>
                <li><a href="/resume">Resume</a></li>
            </ul>
        </div>
    </nav>
</header>

<main>
    <div class="row center-align" style="margin-top:10px">
        <div class="col s1"></div>
        <div class="col s10">
            <div class="card grey lighten-3">
                <div class="card-content">
                    <span class="card-title flow-text">Analysing Protein Data Using Unsupervised Learning Techniques</span>
                    <p style="font-style: italic;">International Journal of Innovative Computing, Information and
                        Control</p>
                    <p>3rd June, 2018</p>
                    <p><span style="font-weight:bold;">Authors: </span> Silvana Albert, Mihai Teletin and Gabriela
                        Czibula</p>
                </div>
                <div class="card-action">
                    <a href="http://www.ijicic.org/ijicic-140307.pdf" target="_blank">See publication</a>
                </div>
            </div>
        </div>
    </div>
    <div class="row center-align" style="margin-top:10px">
        <div class="col s1"></div>
        <div class="col s10">
            <div class="card grey lighten-3">
                <div class="card-content">
                    <span class="card-title flow-text">Using unsupervised learning methods for enhancing protein structure insight</span>
                    <p style="font-style:italic;">Using unsupervised learning methods for enhancing protein structure
                        insight</p>
                    <p>30th August, 2018</p>
                    <p><span style="font-weight:bold;">Authors: </span>Mihai Teletin, Gabriela Czibula, Silvana Albert
                        and Maria-Iuliana Bocicor </p>
                </div>
                <div class="card-action">
                    <a href="https://www.sciencedirect.com/science/article/pii/S1877050918311797" target="_blank">See
                        publication</a>
                </div>
            </div>
        </div>
    </div>
    <div class="row center-align" style="margin-top:10px">
        <div class="col s1"></div>
        <div class="col s10">
            <div class="card grey lighten-3">
                <div class="card-content">
                    <span class="card-title flow-text">Using Computational Intelligence Models for Additional Insight into Protein Structure</span>
                    <p style="font-style:italic;">Studia Universitatis Babes-Bolyai Series Informatica</p>
                    <p>1st June, 2018</p>
                    <p><span style="font-weight:bold;">Authors: </span>Maria Iuliana Bocicor, Alessandro Pandini,
                        Gabriela Czibula,Silvana Albert and Mihai Teletin
                    </p>

                </div>
                <div class="card-action">
                    <a href="http://www.cs.ubbcluj.ro/~studia-i/journal/journal/article/view/9/8" target="_blank">See
                        publication</a>
                </div>
            </div>
        </div>
    </div>
    <div class="row center-align" style="margin-top:10px">
        <div class="col s1"></div>
        <div class="col s10">
            <div class="card grey lighten-3">
                <div class="card-content">
                    <span class="card-title flow-text">Analyzing the impact of protein representation on mining structural patterns from protein data</span>
                    <p style="font-style:italic;">IEEE 12th International Symposium on Applied Computational
                        Intelligence and Informatics (SACI 2018)</p>
                    <p>17th May, 2018</p>
                    <p><span style="font-weight:bold;">Authors: </span>Silvana Albert, Gabriela Czibula and Mihai
                        Teletin
                    </p>
                </div>
                <div class="card-action">
                    <a href="http://conf.uni-obuda.hu/saci2018/" target="_blank">See
                        publication</a>
                </div>
            </div>
        </div>
    </div>
    <div class="row center-align" style="margin-top:10px">
        <div class="col s1"></div>
        <div class="col s10">
            <div class="card grey lighten-3">
                <div class="card-content">
                    <span class="card-title flow-text">Deep autoencoders for additional insight into protein dynamics</span>
                    <p style="font-style:italic;">Procedia Computer Science</p>
                    <p style="font-style:italic;">To be published</p>
                    <p><span style="font-weight:bold;">Authors: </span>Mihai Teletin, Gabriela Czibula, Maria Iuliana
                        Bocicor, Silvana Albert and Alessandro Pandini
                    </p>
                </div>
                <div class="card-action">
                    <a href="https://e-nns.org/icann2018/" target="_blank">See
                        publication</a>
                </div>
            </div>
        </div>
    </div>
    <div class="row center-align" style="margin-top:10px">
        <div class="col s1"></div>
        <div class="col s10">
            <div class="card grey lighten-3">
                <div class="card-content">
                    <span class="card-title flow-text">Visualizing mutation occurrence using Big Data</span>
                    <p style="font-style:italic;">Proceeding Collection on the workshop NETTAB 2017 "Methods, tools and
                        platforms for Personalized Medicine in the Big Data Era"</p>
                    <p>5 October, 2017</p>
                    <p><span style="font-weight:bold;">Authors: </span> Silvana Albert</p>
                </div>
                <div class="card-action">
                    <a href="https://peerj.com/preprints/3325.pdf" target="_blank">See
                        publication</a>
                </div>
            </div>
        </div>
    </div>
    <div class="row center-align" style="margin-top:10px">
        <div class="col s1"></div>
        <div class="col s10">
            <div class="card grey lighten-3">
                <div class="card-content">
                    <span class="card-title flow-text">A Big Data Approach in Mutation Analysis and Prediction</span>
                    <p style="font-style:italic;">Studia Universitatis Babes-Bolyai Series Informatica</p>
                    <p>1st June, 2017</p>
                    <p><span style="font-weight:bold;">Authors: </span> Silvana Albert</p>
                </div>
                <div class="card-action">
                    <a href="http://www.cs.ubbcluj.ro/~studia-i/journal/journal/article/view/7/6" target="_blank">See
                        publication</a>
                </div>
            </div>
        </div>
    </div>
</main>

<!--<footer class="page-footer red lighten-3">-->
<footer class="page-footer teal">
    <div class="row">
        <div class="col s4">
            <i style="display:inline;vertical-align: bottom;" class="small material-icons">call</i>
            <p style="display:inline">+040743693658</p>
        </div>
        <div class="col s4"><i style="display:inline;vertical-align: bottom;" class="small material-icons">mail</i>
            <p style="display:inline" href="albert.silvana@cs.ubbcluj.ro">albert.silvana@cs.ubbcluj.ro</p>
        </div>
        <div class="col s4"><p>© 2018 by Silvana Albert</p></div>
    </div>
</footer>
</body>

</html>